.container{
    margin: auto;
    align-items: center;
    /* justify-content: center; */
    grid-template-columns: repeat(1,1fr);
    width:400px;
    margin-top: 3rem;
}
.email{
    width:90%;
    padding: 15px;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    border:1px solid grey;
}
.btn{
    width:97%;
    padding: 15px;
    border-radius: 0.5rem;
    border:1px solid grey;
    font-size: 15px;
    background-color: blue;
    color: white;
}
.or{
    text-align: center;
    margin-top: 1rem;
}
.signin{
    width:97%;
    padding: 15px;
    border-radius: 0.5rem;
    margin-top: 1rem;
    border:1px solid grey;
    font-size: 15px;
    background-color: blue;
    color: white;
}
.forgot{
    text-align: center;
}
.dont{
    text-align: center;
}
.other{
    text-align: center;
}
.cont{
    margin: auto;
    width:10%;
}
.facebook{
    color: blue;

}